@model AppUserLoginVM
@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="section-conten padding-y" style="min-height:84vh">

        <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
            <div class="card-body">
               
                <form asp-action="Login" asp-controller="Member">
                    <a href="#" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp  Sign in with Facebook</a>
                    <a href="#" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp  Sign in with Google</a>
                    <div class="form-group">
                        <input asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="Şifre" type="password">
                    </div> <!-- form-group// -->

                    <div class="form-group">
                        <a href="#" class="float-right">Forgot password?</a>
                        <label class="float-left custom-control custom-checkbox">
                        <input type="checkbox" asp-for="RememberMe" class="custom-control-input" checked=""> 
                        <div class="custom-control-label"> Remember </div> </label>
                    </div> <!-- form-group form-check .// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Giriş Yap  </button>
                    </div> <!-- form-group// -->
                </form>
            </div> <!-- card-body.// -->
        </div> <!-- card .// -->

        <p class="text-center mt-4">Hesabın yok mu? <a asp-action="Create" asp-controller="Member">Kayıt Ol</a></p>
        <br><br>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


    </section>

